/*CSS from old page */
.tp-nav-img {
    width: 100% !important;
    height: 60px;
    background-color: #003B5A;
}


/********************************************************
*********************************************************
**********Index page or Homepage css Only****************
*********************************************************
********************************************************/


.btn-request {
    background-color: #ABD251!important;
    /*box-shadow: none!important;*/
}
/*.btn-request:hover, .btn-request:focus, .btn-request:active, .btn-request.active, .open > .dropdown-toggle.btn-request {
    background: #ABD251!important;
}
 
.btn-request:active, .btn-request.active {
    background: #ABD251!important;
    box-shadow: none;
}

.workwithus {
    border: 2px solid #fff;
    padding: 4px 12px!important;
    margin-top: 11px!important;
    margin-right: 20px;
}

.navbar {

    padding-top: 10px!important;
}
.nav>li>a {
    color: #fff;
    padding: 15px 18px;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent!important;

}
.navbar-brand {
    color: #fff;
}*/
.header.parallax-bg {
    background: url('../images/header.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    height: 673px;

}

@media (max-width: 767px) {
    .header.parallax-bg {
        background-attachment: scroll;
    }
}
.header-text-block{
    display: block;
    padding: 170px 170px 0px 170px;
    text-align: center;
}

.header-text-block h1{
    color: #fff;
    font-size: 64px;
    font-weight: bold;
}
.header-text-block h3{
    color: #fff;
    margin-bottom: 40px;
}
.header-text-block a{
    padding: 9px 27px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.43;
    background-color: rgba(255, 255, 255, 0.5);
}
.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
.search-block {
    display: block;
    padding: 40px;
}
.search-block > .input-group > input {
    display: block;
    padding: 10px;
    border-radius: 0px!important;
}
.search-block > .input-group > span > .btn {
   
    border-radius: 0px!important;
}
.filter-trip > .btn-default.active{
    background-color: #000 !important;
    color: #fff!important;
    border-color: #8c8c8c!important;
}
/*trip page css*/
.toolfooter {
    float: left;
    color: #fff!important;
    background-color:#3B9FBD;
    padding: 10px 12px;
    font-size: 14px;
    text-transform: uppercase;
    width:100%;

}
